{% extends 'base.html' %}
{% block title %} Users Page {% endblock title %}
{% block content %}

<div class = "row">

{% for user in pages.items %}
<div class = "col-md-3 col-lg-3 col-6 py-3">
<div class="card">
  <img src="{{user.avatar_url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{user.id}} - {{user.username}}</h5>
    <p class="card-text"></p>
    <a href="{{user.url}}" target="_blank" class="btn btn-primary">View profile</a>
  </div>

</div>
</div>

{% endfor %}

</div>




<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {% if not pages.has_prev %}disabled {% endif %}">
      <a class="page-link" href="{{request.path}}?page={{pages.prev_num}}" >Previous</a>
    </li>

    {% for page in pages.iter_pages() %}
        <li class="page-item {% if page == pages.page %}active {% endif %}">
      <a class="page-link" href="{{request.path}}?page={{page}}">{{page}} <span class="sr-only"></span></a>
    </li>
    {% endfor %}

    <li class="page-item {% if not pages.has_next %}disabled {% endif %}">
      <a class="page-link" href="{{request.path}}?page={{pages.next_num}}">Next</a>
    </li>
  </ul>
</nav>
{% endblock content %}}
